<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <header>
        <nav class="orange darken-2">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Logo</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a th:href="@{/products}">Products</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                    <li><a th:href="@{/register}">Register</a></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/products">Products</a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>