<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="fragments/head :: head"></head>
<body>
    <header th:substituteby="fragments/header :: header"></header>

    <main>
        <div class="container">
            <h1>Products</h1>

            <ul th:each="prod : ${products}" class="collection">
                <li class="collection-item">
                    <span class="title" th:text="${prod.name}"></span>
                    <p th:text="${prod.description}"></p>
                </li>
            </ul>

        </div>
    </main>

    <footer th:substituteby="fragments/footer :: footer"></footer>

    <div id="javascript" th:substituteby="fragments/javascript :: div"></div>
</body>
</html>