<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="fragments/head :: head"></head>
<body>
    <header th:substituteby="fragments/header :: header"></header>

    <main>
        <div class="container">
            <h1>Recommended products</h1>
            <div class="slider">
                <ul class="slides">
                    <li th:each="prod : ${products}">
                        <img th:src="${prod.photo}" alt=""/>
                        <div class="caption center-align">
                            <h3>
                                <a class="white-text" th:href="@{/products/{id}(id=${prod.id})}" th:text="${prod.name}"></a>
                            </h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <footer th:substituteby="fragments/footer :: footer"></footer>

    <div id="javascript" th:substituteby="fragments/javascript :: div"></div>
</body>
</html>