<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="fragments/head :: head"></head>
<body>
    <header th:substituteby="fragments/header :: header"></header>

    <main>
        <div class="container">
            <h1>Products</h1>

            <ul class="collection">
                <li th:each="prod : ${products}" class="collection-item">
                    <span class="title" th:text="${prod.name}"></span>
                    <p th:text="${prod.description}"></p>
                </li>
            </ul>

            <ul class="pagination center-align">
                <li class="waves-effect" th:classappend="${currentPage == 0} ? disabled"><a th:href="@{/products(page=${currentPage-1})}"><i class="material-icons">chevron_left</i></a></li>
                <li th:each="page, iteration : ${pages}" class="waves-effect" th:classappend="${currentPage==iteration.index} ? 'active orange'"><a th:href="@{/products(page=${iteration.index})}" th:text="${page}"></a></li>
                <li class="waves-effect" th:classappend="${currentPage == totalPages-1} ? disabled"><a th:href="@{/products(page=${currentPage+1})}"><i class="material-icons">chevron_right</i></a></li>
            </ul>

        </div>
    </main>

    <footer th:substituteby="fragments/footer :: footer"></footer>

    <div id="javascript" th:substituteby="fragments/javascript :: div"></div>
</body>
</html>