<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="fragments/head :: head"></head>
<body>
    <header th:substituteby="fragments/header :: header"></header>

    <main>
        <div class="container">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Products</h4></li>
                <li th:each="prod : ${products}" class="collection-item">
                    <a th:href="@{/products/{id}(id=${prod.id})}" class="row ">
                        <img th:src="${prod.photo}" class="responsive-img thumbnail col m2 " alt=""/>
                        <span class="title col m9 " th:text="${prod.name}"></span>
                        <div class="col m1 right " th:text="${prod.price}"></div>
                    </a>
                </li>
            </ul>

            <ul class="pagination">
                <li class="waves-effect" th:classappend="${currentPage == 0} ? disabled"><a th:href="@{/products(page=${currentPage-1})}"><i class="material-icons">chevron_left</i></a></li>
                <li th:each="page, iteration : ${pages}" class="waves-effect" th:classappend="${currentPage==iteration.index} ? 'active orange'"><a th:href="@{/products(page=${iteration.index})}" th:text="${page}"></a></li>
                <li class="waves-effect" th:classappend="${currentPage == totalPages-1} ? disabled"><a th:href="@{/products(page=${currentPage+1})}"><i class="material-icons">chevron_right</i></a></li>
            </ul>

        </div>
    </main>

    <footer th:substituteby="fragments/footer :: footer"></footer>

    <div id="javascript" th:substituteby="fragments/javascript :: div"></div>
</body>
</html>